@keyframes move {
  0% {
    transform: translate(0, 50px);
  }
  50% {
    transform: translate(20px, 100px);
  }
  100% {
    transform: translate(0, 50px);
  }
}
@keyframes blink {
  0% {
    top: 50px;
    left: 0;
  }
  50% {
    top: 100px;
    left: 20px;
  }
  100% {
    top: 50px;
    left: 0;
  }
}
@keyframes flicker {
  0% {
    opacity: .9;
  }
  30% {
    opacity: .97;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: .9;
  }
  88% {
    opacity: .98;
  }
  90% {
    opacity: .94;
  }
  93% {
    opacity: .9;
  }
  95% {
    opacity: .99;
  }
  96% {
    opacity: .93;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: .93;
  }
}
